{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ absolute_url(asset('bundles/css/map.css')) }}">
{% endblock %}


{% block content %}
    <div id="map" style="height: 800px;"></div>
    <script type="text/javascript" src="{{ asset('assets/src/js/map.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/js/mapFunctionnalities.js') }}"></script>
{% endblock %}

	
{% block javascripts %}

{% endblock %}